{% extends 'base.html' %}


	{% block content %}
<center>
  <table class="table align-middle container">
  <thead>
    <tr>
      <th scope="col">Algorithm</th>
      <th scope="col">Prediction</th>
      <th scope="col">Test Accuracy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ANN</th>
      <td>{{ann}}</td>
      <td>0.868 %</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm px-3">
          <i class="fas fa-times"></i>
        </button>
      </td>
    </tr>
</table>
{% endblock %}